.mktoForm {
	font-size: 16px !important;
	font-family: "miloweblight" !important;
	width: 100% !important;
	max-width: 700px !important;
	display: flex !important;
	flex-flow: column nowrap;
	margin: 0 auto;

	input[type=date],
	input[type=email],
	input[type=number],
	input[type=tel],
	input[type=text],
	input[type=url],
	select.mktoField,
	textarea.mktoField {
		background-color: #FFFFFF;
		box-shadow: none;
		line-height: 24px !important;
		border-color: #A6A6A6;
		border-radius: 0;
		border-style: solid;
		border-width: 1px;
		padding: 5px !important;
		font-size: 18px !important;
	}
	select.mktoField {
		padding: 5px !important;
		position: relative !important;
		width: 100% !important;
		height: 34px !important;
	}

	button,
	input,
	textarea {
		width: 100% !important;
	}

	input,
	label {
		float: none !important;
		font-weight: normal !important;
		color: #fff;
	}

	.mktoButtonRow,
	.mktoFormRow {
		width: 100% !important;

		.mktoButtonWrap {
			margin-left: 2px !important;

			.mktoButton {
				margin-top: 16px !important;
				background-image: none !important;
				padding: 16px 60px 15px !important;
				border-width: 0 !important;
				text-transform: uppercase !important;
				font-family: milowebbold !important;
				background: $az-hot-pink !important;
				font-size: 18px !important;

				&:hover {
					background: $az-dark-pink !important;
				}
			}
		}
	}

	.mktoAsterix {
		position: absolute;
		left: -16px;
		display: none !important;
	}

	.mktoLabel {
		padding: 0 !important;
		display: block !important;
		font-family: "milowebbold" !important;
		font-weight: normal !important;
		margin: 0 0 5px 0 !important;
	}

	.mktoGutter {
		display: none !important;
	}

	.mktoOffset {
		display: none !important;
	}

	.mktoFormCol {
		width: 100% !important;
	}

	.mktoFieldWrap {
		width: 100% !important;

		label {
			width: 100% !important;
		}
	}

	.mktoError {
		.mktoErrorMsg {
			font-family: miloweb;
			background-image: none !important;
			box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2) !important;
			text-shadow: none !important;
		}
	}

	.mktoFormRow {
		display: inline-block !important;
	}

}
