// Styling for the masthead
header.masthead {
    background-image: url('../img/japan.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    text-align: center;
    color: white;
    .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
        line-height: 1.2;
        text-shadow: 1px 1px 5px lighten(black, 15);
        .intro-heading {
            @include heading-bold;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
        }
        .intro-message {
            @include body-font;
            font-size: 21px;
        }
    }
}

@media(min-width:768px) {
    header.masthead {
        .intro-text {
            padding: 380px 180px 200px;
            .intro-heading {
                font-weight: 700;
                font-size: 50px;
                margin-bottom: 10px;
            }
        }
    }
}
