// Variables

// Gray and Brand Colors for use across theme
$az-border-gray: #979797;
$az-red: #f34e4e;
$az-green: #22B300;
$az-orange: #FFBF00;
$az-light-pink: #f296e2;
$az-hot-pink: #f24e73;
$az-bright-blue: #3fa9f5;
$az-dark-blue: #0557a2;

$az-dark-pink: $az-hot-pink;


$theme-primary:    $az-bright-blue;
$theme-danger:     #e74c3c;

$gray-base:        #000 !default;
$gray-darker:	   lighten($gray-base, 13.5%) !default; // #222
$gray-dark:		   lighten($gray-base, 20%) !default;   // #333
$gray:			   lighten($gray-base, 33.5%) !default; // #555
$gray-light:	   lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:	   lighten($gray-base, 93.5%) !default; // #eee
